*.o
Makefile
config.h
config.log
config.status
doc/Makefile
epkg/Makefile
epkg/epkg
lib/Makefile
lib/libencap.a
lib/printplatform
listhash/encap_hash.c
listhash/encap_hash_new.3
listhash/encap_list.c
listhash/encap_list_new.3
listhash/encap_listhash.h
mkencap/Makefile
mkencap/mkencap
mkencap/mkencap_environment
pathcode/encap_cleanpath.c
pathcode/encap_gsub.c
pathcode/encap_mkdirhier.c
pathcode/encap_pathcode.h
pathcode/encap_relativepath.c
pathcode/encap_rmtree.c
